{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

<!-- Nav bar -->
<div class="navbar">
    <div class="restaurant-name">Gastronomique</div>
    <div class="nav-links">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="/contact/" class="nav-link">Contact</a>
        {% if user.is_authenticated %}
            <a href="{% url 'reservations' %}" class="nav-link">Reservations</a>
            <a href="{% url 'reservation_list' %}" class="nav-link">My Reservations</a>
            <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
        {% else %}
            <a href="{% url 'user_login' %}" class="nav-link">Login</a>
            <a href="{% url 'user_registration' %}" class="nav-link">Registration</a>
        {% endif %}
    </div>
   </div>

<!-- Login form -->
<div class="login-form-container">
    <form method="post" class="login-form">
        {% csrf_token %}
        <h2 class="form-heading">Login</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>

<!-- Footer -->
<footer class="footer">
    <span><b>&copy; Gastronomique 2023</b></span>
</footer>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html