{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Reservation</title>
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
</head>
<body>

<!-- Nav bar -->
<div class="navbar">
    <div class="restaurant-name">Gastronomique</div>
    <div class="nav-links">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="/contact/" class="nav-link">Contact</a>
        {% if user.is_authenticated %}
            <a href="{% url 'reservations' %}" class="nav-link">Reservations</a>
            <a href="{% url 'reservation_list' %}" class="nav-link">My Reservations</a>
            <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
        {% else %}
            <a href="{% url 'user_login' %}" class="nav-link">Login</a>
            <a href="{% url 'user_registration' %}" class="nav-link">Registration</a>
        {% endif %}
    </div>
    <div class="menu-icon" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</div>

{% block content %}
<div class="contact-form-container" style="background-image: url('{% static "images/contact-pic.jpg" %}');">
    <div class="contact-form">
        <div class="form-heading"><strong>No Reservations Found</strong></div>
        <div class="no-reservations">
      </div>
    </div>
</div>
{% endblock %}

<!-- Footer -->
<footer class="footer">
    <span><b>&copy; Gastronomique 2023</b></span>
</footer>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
